<div class="row">
    <div class="col-12"></div>
</div>

<div class="row">
    <div class="col-12 center">
        {{#accountInfo}}
        <div class="col-4"></div>
        <div class="col-4 waiterBlock">
            <h3 style="display: inline;">Welcome to your shifts portal </h3>
            <h3 style="color:rgb(49, 135, 163); display:inline;">{{username}}</h3>
        </div>
        <div class="col-4"></div>
        {{/accountInfo}}
    </div>
</div>

<div class="row col-12 center">
    <div class="col-1"></div>
    <div class="col-5 waiterBlock">
        {{#accountInfo}}
        <h4 style="display:inline;">Please select your shifts for the week</h4>
        <h4 style="color:rgb(49, 135, 163); display:inline;">{{weekStart}} - {{weekEnd}}</h4>
        {{/accountInfo}}
        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-12 center">
                        {{#accountInfo}}
                        <form action="/getWorkdays/{{id}}/{{email}}" id="getWorkdays" method="POST">
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Monday">Monday
                            <span class="checkmark"></span></label>
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Tuesday">Tuesday
                            <span class="checkmark"></span></label>
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Wednesday">Wednesday
                            <span class="checkmark"></span></label>
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Thursday">Thursday
                            <span class="checkmark"></span></label>
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Friday">Friday
                            <span class="checkmark"></span></label>
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Saturday">Saturday
                            <span class="checkmark"></span></label>
                            <label class="checkboxContainer"><input type="checkbox" name="workday" value="Sunday">Sunday
                            <span class="checkmark"></span></label>
                        </form>
                        {{/accountInfo}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        {{#accountInfo}}
                        <form method="POST">
                            <button type="submit" form="getWorkdays">Submit</button>
                            <button type="submit" formaction="/getWorkdays/reset/{{id}}/{{email}}">Reset</button>
                        </form>
                        {{/accountInfo}}
                    </div>
                </div>
                <div class="row">
                    <div class="message col-12">
                        <h5 style="color: red; font-weight: lighter">{{messages.info}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 waiterBlockOrange">

        <div class="row">
            <div class="col-12">
                <h4>Shifts Selected: {{#workDays}}{{amountOfWorkingDays}}{{/workDays}}</h4>
            </div>
        </div>

        <table class="center waitersTable" style="width:60%">
            <tr>
                <td></td>
            </tr>
            {{#each workDays}}
            <tr>
                <td>☕</td>
                <td style="float: left">{{weekdays_working}}</td>
            </tr>
            {{/each}}
        </table>

    </div>

    <div class="col-3"></div>
</div>